$primary-dark: #121212;
$secondary-dark: #1f1f1f;
$white: #ffffff;
$primary-light-white: #fefefe;
$secondary-light-white: #fdfdfd;
$primary-dark-white: #f5f5f5;
$secondary-dark-white: #f9f9f9;
$primary-grey: #ebebeb;
$secondary-grey: #828799;
$green: #00a698;
$yellow: #ffb800;
$red: #ea552b;
$purple: #4b23d1;
