@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rubik:wght@400;500;700&display=swap');

$primary-font-stack: 'Rubik', sans-serif;
$secondary-font-stack: 'Poppins', sans-serif;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
