@import "../../styles/shared.scss";

.movie {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 36px;

  &__information {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 28px;
  }

  &__controls-list {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__controls-button {
    @extend %icon-button;

    svg {
      width: 32px;
      height: 32px;
    }

    &[title="Add to Favorites"] {
      svg {
        fill: currentColor;
      }
      &:hover {
        svg {
          fill: $red;
        }
      }
    }

    &[title="Add to Watchlist"] {
      svg {
        fill: currentColor;
      }
      &:hover {
        svg {
          fill: $green;
        }
      }
    }
  }

  &__picture {
    width: 25%;
  }

  &__rating {
    display: flex;
  }

  &__star {
    width: 24px;
    height: 24px;

    svg {
      width: 20px;
      height: 20px;
      fill: transparent;
      stroke: $primary-grey;
    }

    &_filled {
      svg {
        fill: $yellow;
        stroke: $yellow;
      }
    }
  }

  &__genres {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    li {
      padding: 4px 8px;
      color: $green;
      border: 1px solid $green;
      border-radius: 4px;
    }
  }

  &__overview {
    font-family: $secondary-font-stack;
    font-size: 17px;
    line-height: 1.2;
  }
}
