@import "../../styles/shared.scss";

.subscription {
  padding: 24px 96px;

  &__heading {
    margin-bottom: 12px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
  }

  &__subheading {
    margin-bottom: 24px;
    font-family: $secondary-font-stack;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 736px;
    margin: 0 auto;
    padding: 48px 32px;
    background: $primary-light-white;
    border-radius: 16px;
    box-shadow: 0 4px 48px rgba(0, 166, 152, 0.1);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__description {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 60px);
    gap: 32px;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 319px);
      grid-template-rows: repeat(4, 60px);
    }
  }

  &__field {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;

    &:nth-child(3) {
      grid-column: 1 / span 2;
    }
  }

  &__label {
    font-family: $secondary-font-stack;
    font-weight: 600;
    line-height: 1.5;
  }

  &__input {
    padding: 12px 16px;
    font-family: $secondary-font-stack;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: $primary-dark;
    background-color: $secondary-dark-white;
    border: 1px solid $primary-grey;
    border-radius: 12px;
    outline: none;

    &:focus {
      border-color: $green;
    }

    &:disabled + .subscription__label {
      color: $secondary-grey;
    }

    &::placeholder {
      font-family: $secondary-font-stack;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.34;
      color: $secondary-grey;
    }
  }

  &__button {
    @extend %button;
    width: 100%;
    height: 65px;
    font-size: 18px;
    color: $white;
    background-color: $primary-dark;
    border-radius: 16px;
  }

  .agreement {
    &__field {
      padding: 12px 16px;
      background: $secondary-dark-white;
      border: 1px solid $primary-grey;
      border-radius: 12px;
      cursor: pointer;
    }
    &__input {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
      &:checked + .agreement__checkbox > .agreement__icon {
        opacity: 1;
      }
    }
    &__label {
      display: flex;
      gap: 10px;
      font-family: $secondary-font-stack;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.4;
    }
    &__checkbox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: 1.5px solid $primary-grey;
      border-radius: 4px;
      cursor: pointer;
    }
    &__icon {
      fill: $green;
      opacity: 0;
      transition: opacity 250ms $timing-function;
      svg {
        width: 36px;
        height: 36px;
      }
    }
  }
}
