<div class="dropdown" [ngClass]="{ 'dropdown_horizontal': orientation === 'horizontal' }">
  <ul class="dropdown__list">
    @for(option of options; track option) {
      <li class="dropdown__item"
          [ngClass]="{'dropdown__item_active': selectedOption === option}"
          (click)="onOptionClickHandler(option, $event)"
          (keydown)="onOptionClickHandler(option, $event)"
          tabindex="0"
      >
        @if(isCountry(option) || isCity(option)) {
          {{ option.name }}
        } @else {
          {{ option }}
        }
      </li>
    }
  </ul>
</div>
