.movie {
  &__picture {
    border-radius: 6px;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    &_left {
      gap: 12px;
      margin: 0;
    }

    &_right {
      margin: 0;
    }
  }

  &__rating {
    display: block;
    margin-bottom: 12px;
  }

  &__genres {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
}
