<li class="movie__item">
  <a role="button"
     tabindex="0"
     class="movie__link"
     (click)="navigateToMovieDetails()"
     (keydown)="navigateToMovieDetails()">
    <img [src]="imageUrl" [alt]="item.title" class="movie__picture">
    <div class="movie__information">
      <h3 class="movie__title">{{ item.title }}</h3>
      <p class="movie__overview">{{ item.overview | truncateDescription:maxOverviewLength }}</p>
      <ul class="movie__controls-list">
        <li>
          <ul class="movie__controls-list movie__controls-list_left">
            <li>
              <button type="button"
                      title="Add to Favorites"
                      [ngClass]="{ 'movie__controls-button_active': liked$ | async }"
                      class="movie__controls-button"
                      (click)="onAddToFavorites(item.id, $event)">
                F
              </button>
            </li>
            <li>
              <button type="button"
                      title="Add to Watch Later"
                      [ngClass]="{ 'movie__controls-button_active': watchedLater$ | async }"
                      class="movie__controls-button"
                      (click)="onAddToWatchLater(item.id, $event)">
                WL
              </button>
            </li>
          </ul>
        </li>
        <li class="movie__controls-list_right">
          <button type="button"
                  title="Show more Information"
                  class="movie__controls-button"
                  (click)="navigateToMovieDetails()">
            D
          </button>
        </li>
      </ul>
      <div class="movie__rating">
        Rating: {{ rating }}
      </div>
      <ul class="movie__genres">
        @for (item of genres; track $index) {
          <li>{{ item }}</li>
        }
      </ul>
    </div>
  </a>
</li>
