<li class="movie__item">
  <a role="button"
     tabindex="0"
     class="movie__link"
     (click)="navigateToMovieDetails()"
     (keydown)="navigateToMovieDetails()">
    <img [src]="imageUrl" [alt]="item.title" class="movie__picture">
    <div class="movie__information">
      <h3 class="movie__title">{{ item.title }}</h3>
      <p class="movie__overview">{{ item.overview | truncateDescription:maxOverviewLength }}</p>
      <ul class="movie__controls-list">
        <li>
          <ul class="movie__controls-list movie__controls-list_left">
            <li>
              <button type="button"
                      title="Add to Favorites"
                      class="movie__controls-button"
                      (click)="onUpdateFavorites(item.id, $event)">
                <svg-icon src="assets/svg/heart.svg"></svg-icon>
              </button>
            </li>
            <li>
              <button type="button"
                      title="Add to Watch Later"
                      class="movie__controls-button"
                      (click)="onUpdateWatchLater(item.id, $event)">
                <svg-icon src="assets/svg/add.svg"></svg-icon>
              </button>
            </li>
          </ul>
        </li>
        <li class="movie__controls-list_right">
          <button type="button"
                  title="Show more Information"
                  class="movie__controls-button"
                  (click)="navigateToMovieDetails()">
            <svg-icon src="assets/svg/information.svg"></svg-icon>
          </button>
        </li>
      </ul>
      <ul class="movie__rating">
        @for (item of rating; track $index) {
          <li class="movie__star"
              [ngClass]="{'movie__star_filled': item, 'movie__star_empty': !item}">
            <svg-icon src="assets/svg/star.svg"></svg-icon>
          </li>
        }
      </ul>
      <ul class="movie__genres">
        @for (item of genres; track $index) {
          <li>{{ item }}</li>
        }
      </ul>
    </div>
  </a>
</li>
