<section class="search">
  <app-filter></app-filter>
  <div class="search__content">
    <form #searchForm="ngForm" autocomplete="off" (ngSubmit)="onSubmitHandler()" class="search__form">
      <div class="search__field">
        <input id="query"
               type="text"
               name="query"
               [(ngModel)]="query"
               placeholder=" "
               (input)="onSubmitHandler()"
               class="search__input" required>
        <label for="query" class="search__label">Search movies</label>
      </div>
      <button class="search__button">
        <svg-icon src="assets/svg/search.svg"></svg-icon>
      </button>
    </form>
    @if(movies$ | async; as movies) {
      <div class="search__movies">
        <app-movies-list [movies]="movies"></app-movies-list>
        <div class="search__controls">
          <app-pagination [selectedPage]="(page$ | async)!"></app-pagination>
          <button type="button" class="search__show-button">Show more</button>
          <div class="search__stats">
            <span class="search__tag">20</span>
            <span class="search__tag-label">movies</span>
          </div>
        </div>
      </div>
    }
    @if(isLoading$ | async) {
      <app-loader></app-loader>
    }
  </div>
</section>
