@import "../../styles/shared.scss";

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  &_disabled {
    .login__button:disabled {
      cursor: default;
    }
  }

  &__content {
    width: 100%;
    max-width: 600px;
    padding: 48px 32px;
    background: $secondary-light-white;
    border-radius: 16px;
    box-shadow: 0 4px 48px rgba(0, 0, 0, 0.1);
  }

  &__picture {
    display: block;
    margin-bottom: 12px;
  }

  &__heading {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
  }

  &__subheading {
    font-family: $secondary-font-stack;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;

    &_last {
      margin-bottom: 24px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
  }

  &__field {
    position: relative;
    width: 100%;
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    padding: 4px;
    font-family: $secondary-font-stack;
    font-size: 16px;
    color: $primary-dark;
    background: $secondary-light-white;
    pointer-events: none;
    transition: transform 250ms $timing-function;
  }

  &__input {
    width: 100%;
    padding: 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: $primary-dark;
    background: transparent;
    border: 1px solid $primary-dark;
    outline: none;
    border-radius: 6px;
    transition: border-color 250ms $timing-function;

    &::placeholder {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
      color: $primary-dark;
    }

    &:focus ~ .login__label,
    &:not(:placeholder-shown) ~ .login__label {
      transform: translateY(-46px) scale(0.8);
    }

    &:focus,
    &:not(:placeholder-shown) {
      border-color: $green;
    }
    &:not(:focus) {
      border-color: $primary-dark;
    }
  }

  &__error {
    position: absolute;
    bottom: -16px;
    left: 0;
    font-size: 12px;
    color: $red;
  }

  &__button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;

    div {
      position: relative;
      width: 100%;
      height: 1px;
      background: $tertiary-grey;
    }
  }

  &__separator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 24px;
    color: $tertiary-grey;
    background: $white;
  }

  &__button {
    @extend %button;
    width: 100%;
    height: 65px;
    font-size: 18px;
    color: $white;
    background-color: $green;
    border: 2px solid $green;
    border-radius: 16px;

    &_outlined {
      color: $green;
      background: $white;
      border-color: $green;
    }
  }

  &__loader {
    display: block;
    width: 32px;
    height: 32px;
    border: 4px solid $green;
    border-radius: 100px;
    border-top-color: $white;
    border-left-color: $white;
    animation: spin 1s linear infinite;

    &_inverted {
      border-color: $white;
      border-top-color: $green;
      border-left-color: $green;
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
